.main-content
  .header
    .header_box
      .header_box_name
        = @group.name
      .header_box_group
        - @group.users.each do |user|
          Menber :
          = user.name
    .header_box_edit-btn
      = link_to edit_group_path(@group) do
        .header_box_edit-btn_btn
          Edit
  .messages
    - @messages.each do |message|
      .message
        .message__upper-info
          .message__upper-info__talker
            = message.user.name
          .message__upper-info__date
            = message.created_at.strftime("%Y/%m/%d %H:%M %Z")
        .message__text
          - if message.content.present?
            %p.message__text__content
              = message.content
          = image_tag message.image.url if message.image.present?
  .form
    .new-message
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, placeholder: 'type a message'
          .image-box
            = f.label :image, class: 'image-box' do
              = fa_icon 'picture-o', class: 'label'
              = f.file_field :image, class: 'input'
          = f.submit 'Send', class: 'submit-btn'